<div class="login-container">
	<div class="login-box">
		<div class="box-left">
			<h4>Welcome back </h4>
			<h1>{{username}}</h1>
		</div>
		<div class="box-right">
			<div class="account">
				<div class="account-top">
					<h4>Aktuelles Guthaben:</h4>
					<h1><span id="geld">{{balance}}</span> €</h1>
				</div>
				<div class="line"></div>
				<div class="account-bottom">
					<form id="home-form" action="/transfer" method="GET">
						<div>
							<input placeholder="Geld senden an: " type="text" name="to" value="Viet">
						</div>
						<br>
						<div>
							<input placeholder="Wert" type="text" name="amount" value="">
						</div>
						<br>
						<div>
							<input type="submit" value="überweisen">
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>
</div>