<div class="login-container">
	<div class="login-box">
		<div class="box-left">
			<h2><b>C</b>ross <b>S</b>ite <b>R</b>equest <b>F</b>orgery</h1>

		</div>
		<div class="box-right">
			<form id="login" action="/login" method="POST">
			<div>
				<label><input placeholder="Benutzername" name="username" type="text" value="" autofocus></label>
			</div>
			<br>
			<div>
				<label><input placeholder="Passwort" name="password" type="password" value=""></label>
			</div>
			<br>
			<div>
				<input type="submit" value="Login">
			</div>
			</form>
		</div>
	</div>
</div>
